{% extends 'base.html' %}

{% block content %}
<h2>Cadastrar Pedido de Doação</h2>
<form method="POST">
    <div class="mb-3">
        <label for="pessoa_id" class="form-label">Pessoa</label>
        <select class="form-control" id="pessoa_id" name="pessoa_id" required>
            {% for pessoa in pessoas if pessoa.ativo %}
            <option value="{{ pessoa.id }}" {% if pessoa.id == pessoa_id %}selected{% endif %}>{{ pessoa.nome }}</option>
            {% endfor %}

        </select>
    </div>
    <div class="mb-3">
        <label for="produto_id" class="form-label">Produto</label>
        <select class="form-control" id="produto_id" name="produto_id" required>
            {% for produto in produtos %}
            <option value="{{ produto.id }}">{{ produto.nome_produto }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="quantidade" class="form-label">Quantidade</label>
        <input type="number" class="form-control" id="quantidade" name="quantidade" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar Pedido</button>
</form>
{% endblock %}
