{% extends 'base.html' %}

{% block content %}
<h1>Relatório de Doações</h1>

<!-- Filtro de Pesquisa -->
<form method="GET" action="{{ url_for('relatorio_doacoes') }}" class="mb-3" style="display: flex; gap: 10px;">
    <input type="text" name="search_pessoa" class="form-control" placeholder="Buscar por pessoa..."
           value="{{ request.args.get('search_pessoa', '') }}">
    <input type="text" name="search_produto" class="form-control" placeholder="Buscar por produto..."
           value="{{ request.args.get('search_produto', '') }}">
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>
<a href="{{ url_for('relatorio_doacoes_pdf') }}" class="btn btn btn-success mb-3">Gerar PDF</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome da Pessoa</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for doacao in doacoes %}
        <tr>
            <td>{{ doacao.id }}</td>
            <td>{{ doacao.pessoa.nome }}</td>
            <td>{{ doacao.produto.nome_produto }}</td>
            <td>{{ doacao.quantidade }}</td>
            <td>{{ doacao.data_doacao }}</td>
            <td>
                <a href="{{ url_for('editar_doacao', id=doacao.id) }}" class="btn btn-warning btn-sm">Editar</a>
                <form action="{{ url_for('delete_doacao', id=doacao.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir esta doacao?')">X</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
